/* font */

.font-lato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.font-lato-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.font-open {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.font-white {
  color: #fff;
}

.font-label {
  font-size: 18px;
}

/* color */

.bg-green {
  background-color: #0e4300;
}

.bg-light-gray {
  background-color: #f4f4f4;
}

/* flex */

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

/* extra */

body {
  margin-bottom: 5rem;
}

.test-border {
  border: 0 solid red;
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  line-height: 1.7rem;
}

label {
  margin: 1rem 0 0.6rem 0;
  display: block;
  font-weight: 700;
}

input,
textarea {
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-size: 18px;
  color: #414141;
  padding: 0 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.form-control {
  height: 25%;
}

.form-control input {
  height: 2.5rem;
  width: 100%;
}

input:focus,
textarea:focus {
  background-color: #fff;
  outline: none;
  border: 2px solid #0e4300;
}

.blur {
  background-color: #f4f4f4;
}

.input-submit {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.6rem 2rem;
  margin: 1rem 0;
  border: none;
  background-color: #0e4300;
}

.input-submit:hover {
  background-color: #a62938;
}
